/* styling sheet for the Crystals Collector game */

/* body */

body {
    /* font-family: 'Vollkorn', serif; regular*/
    /* font-family: 'Vollkorn SC', serif; regular */
    background-image: url("../images/greathall-bg.jpg");
    background-size: auto 100%;
}

h1 {
    font-size: 34px;
    font-family: 'Vollkorn', serif;
}

h2 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
}


p {
    font-size: 15px;
    font-family: 'Vollkorn SC', serif;
}


/* wrapper */

.wrapper {
    width: 800px;
    margin: 50px auto 0;
}


/* title header DUEL */

#title-header {

    width: auto;
    height: 60px;
    background-color: #04121c;
    background-image: url("../images/stars-title.png");
    background-size: auto 80px;
    color: #e2e3e4;
    text-align: center;
    padding: 20px 0;
    margin: 0px 0px 0px 0px;
}



/* instructions */

#parchment-box {
    width: auto;
    height: 200px;
    background-color: #04121c;
    background-image: url("../images/Light-Parchment-Texture.jpg");
    background-size: auto 300px;
    opacity: 75%;
    color: #04121c;
    text-align: center;
    padding: 10px;

}

/* battleground */

#duel-grounds {
    width: auto;
    height: 350px;
    background-color: #04121c;
    background-image: url("../images/duelling-club.jpg");
    background-size: auto 100%;
    /* opacity: 70%; */
    color: #e2e3e4;
    position: relative;
}

/* goal sum = spell power */

#opponent-power {
    width: 90px;
    height: 90px;
    background-color: #86162a;
    border-radius: 20px;
    color: #f7ee23;
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    text-align: center;
    /* vertical-align: middle; */
    padding: 10px;
    /* z-index: 1; */
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* score in progress */

#player-power {
    width: 90px;
    height: 90px;
    background-color: #15302a;
    border-radius: 20px;
    color: #e2e3e4;
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding: 10px;
    /* z-index: 1; */
    position: absolute;
    bottom: 0px;
    left: 0px;  
}

/* wins and losses */

#score {
    width: 270px;
    height: 90px;
    background-color: #121d3e;
    background-image: url("../images/woodbg.jpg");
    background-size: 100% auto;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    color: #e6edea;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -135px;

}


/* spell images */

.spell-list {
    width: 100px;
    height: 100px;
    z-index: 1;
    /* position: absolute;
    bottom: 0px; */
    /* float: right; */
    /* vertical-align: bottom; */

}